.box-album-item{
  position: relative;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #273469;
  color: #ff0099;
  cursor: pointer;
  transition: 400ms background-color linear;
}
.box-album-item:hover{
  background-color: #ff0099;
  color: #ffff00;
}

.box-subitem{
  background-color: red;
  color: white;
}
.box-album-item:hover .box-subitem{
  color:#ffff00;
}

.song-list{
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style: none;
}
