.box-album-list{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: #13182e;

  margin: 0;
  padding: 0;
  list-style: none;
}
.album-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.album-list-title
{
  color: #FFA400;
}